
body {
    background-color: #0f0f0f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;

}

.line {
    background-color: #623242;
    padding: 10px;
}

.line2 {
    background-color: #623242;
    padding: 10px;
}

.line3 {
    background-color: #000000;
    padding: 10px;
    background: linear-gradient(#623242, #0f0f0f);
}

.header {
    background-color: #623242;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
