
body {
    background-color: #0f0f0f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0;

}

.line {
    background-color: #363636;
    padding: 10px;
}

.line2 {
    background-color: #363636;
    padding: 10px;
}

.line3 {
    background-color: #000000;
    padding: 10px;
    background: linear-gradient(#363636, #0f0f0f);
}

.header {
    background-color: #363636;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.release-img {
    background-color: #0f0f0f;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 20px;
}

h1 {
    color: #fff;
    font-size: 20px;
}


h3 {
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h3-red {
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 20px;
    background-color: #af2727;
}

h4 {
    color: #fff;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    background-color: #363636;
    padding: 10px;
    color: rgb(255, 255, 255);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
    margin-inline: auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    /* border-radius: 1em; */
    background: #424242;
    /* background: linear-gradient(to right, #FFFFFF, #ECE9E6); */

}

.card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
}


.card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;

    color: rgb(255, 255, 255);

    background-color: #000000;
    padding: 10px;
    border-radius: 10px;

}

.card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
}

.user {
    display: flex;
    gap: .5rem;
}

.user__image {
    border-radius: 50%;
}

.user__info>small {
    color: #666;
}

h5 {
    color: #fff;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.5;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;

        background-color: #424242;
        border-radius: 5px;
    }

h6 {
    color: #fff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

    
    
}

.container-1 {
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: center; */
    max-width: 1200px;
    margin-block: 2rem;
    gap: 0rem;
    margin-inline: auto;

    background-color: #424242;
    border-radius: 5px;
}

.container-1-2 {
    /* display: flex; */
    flex-wrap: wrap;
    /* justify-content: center; */
    max-width: 1200px;
    margin-block: 2rem;
    gap: 20rem;
    margin-inline: auto;

    background-color: #000000;
    border-radius: 5px;
}

button {
    background-color: #363636;
    border: none;
    color: white;
    padding: 5px 121px;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    border-radius: 5px;

    transition: 0.5s;


}

button:hover {
    background-color: #af2727;
    /* transition: 0.5s; */
}

button:active {
    background-color: #5e5252;
    transition: 0.5s;
}

h6-2 {
    color: #fff;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #000000;
    border-radius: 10px;
}